body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.container {
    //margin-top: 3em;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 3em;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
    background-color: lightseagreen;
}

.navbar-inverse .navbar-brand {
    color: white;
}

h1 {
    font-family: 'UnifrakturCook', cursive;
    color: mediumpurple;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Backbar Styles */
.backbar{
  width: 100%;
  background-color: lightsteelblue;
  margin-top: -10px;
  height: 45px;
}
  .backbar .btn{
    margin-top: 4px;
  }

/* Series List Styles */
.series-list{
  padding: 0;
}

.series-list li{
  list-style: none;
  border-bottom: 1px #ddd solid;
  margin-bottom: 20px;
  padding-bottom: 10px;
  }

.series-list li:last-child{
  border: none;
}
