@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Prompt'ry Ole Creatures</h1>
        <h3>@ViewBag.CreatureName</h3>
        <h5>Location: @ViewBag.Location</h5>
        <p>@ViewBag.Description</p>
    </div>
</body>
</html>
