@model ye_olde_promptory_o_creatures.Models.Creatures

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;

    
        
}

<!--<div class="page-header">
    <h1>Ye Ole Prompt'ry O' Creatures</h1>
</div>-->
<!--<div class="row">
    <!--<ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Dragon</a></li>
        <li role="presentation"><a href="#">Fairy</a></li>
        <li role="presentation"><a href="#">Unicorn</a></li>
        <li role="presentation"><a href="#">Big Foot</a></li>
    </ul>
</div>-->


       <h1>@Model.CreatureName</h1>
        <h2>Creature Type:</h2>
        <h3>@Model.CreatureType</h3>
        <h2>Found:</h2>
       <h3>@Model.Location</h3>
       <h2>Description</h2>
       <p>@Model.Description</p>






 
