@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ye Ole Prompt'ry O' Creatures";

}


<h1>Ye Ole Prompt'ry O' Creatures</h1>
<h3>@ViewBag.CreatureName</h3>
<h5>Location: @ViewBag.Location</h5>
<p>@ViewBag.Description</p>
 
