@{
    Layout = null;

    var creatureName = "Dragon";
    var location = "World Wide";
    var description = "A huge neck runs down from its head and into a narrow body. The top is covered in rounded scales and a row of small fan-like growths runs down its spine. \n " +
"Its bottom is covered in coarse skin and is colored much lighter than the rest of its body. \n " +
"Four long limbs carry its body and allow the creature to stand towering and noble. Each limb has 6 digits, each of which end in thick nails seemingly made of obsidian. ";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Prompt'ry Ole Creatures</h1>
        <h3>@creatureName</h3>
        <h5>Location: @location</h5>
        <p>@description</p>
    </div>
</body>
</html>
