@model ye_olde_promptory_o_creatures.Models.Conferences[]
@{
    ViewBag.Title = "Upcoming";
}

<div class="jumbotron" id="upcoming">
    <h2>Upcoming Conferences</h2>
</div>



<div class="container-fluid">
    <div class="row">
        @foreach (var conference in Model)
        {
            <div class="col-md-12">
                <!--Link text, action name to route to, anonymous types-->
                <h4>@conference.ConferenceName</h4>
                <h4>@conference.ConferenceDate</h4><br />
            </div>
        }

    </div>
    <h3>Are we missing a conference? Feel free to add it!</h3>
    <div class="btn btn-add"> @Html.ActionLink("Add Conference", "Add")</div>
</div>



